*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 600px;
    height: 800px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
.pic{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 20px;
}
.bottom{
  text-align: center;   
}
.para{
    font-size: 25px;
    color: magenta;
}
.para:hover{
    color: maroon;
}
.h{
    color: teal;
}
.h:hover{
    color: indigo;
}
.good{
    color: rebeccapurple;
}
.good:hover{
    color: royalblue;
}