*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.BoxContainer{
    background-color: #000;
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content:start;
}
.Box{
    width: 100px;
    height: 100px;
    background-color: red;
    margin-bottom: 10px;
}
